<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vitalog.spring_diet.mapper.MemberMapper">
    <select id="findByMemberid" resultType="member">
        select * from member
        where userid = #{userid}
    </select>
    <!--트리거를 통한 mno 자동 생성-->
    <insert id="registerMember">
        insert into member (userid, password, mname, nickname, height, weight, gender, goal_weight, role)
        values(#{userid}, #{password}, #{mname}, #{nickname}, #{height}, #{weight}, #{gender}, #{goalweight}, #{role})
    </insert>
    <select id="findByid" resultType="member">
        select * from member
        where mno = #{mno}
    </select>
</mapper>